<div class="operation-dialog">
  <button
    pButton
    type="button"
    label="Export"
    class="p-button-success"
    (click)="onClickExport()"
  ></button>

  <button
    pButton
    type="button"
    label="Import"
    class="p-button-danger"
    (click)="onClickImport()"
  ></button>

  <button
    pButton
    type="button"
    label="Add Note"
    (click)="onClickAddNote()"
  ></button>

  <button
    pButton
    type="button"
    label="Clear"
    class="p-button-warning"
    (click)="onClickClear()"
  ></button>

  <button
    pButton
    type="button"
    label="Close"
    class="p-button-help"
    (click)="onClickClose()"
  ></button>
</div>
