<div class="continent">
  <h1>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-arrow-left"
      class="p-button-rounded p-button-warning"
      [routerLink]="['/']"
    ></button>

    {{ continent | uppercase }}
  </h1>

  <div class="continent__inner-container">
    <h2>Export</h2>
    <ng-container
      *ngTemplateOutlet="
        countryTemplate;
        context: { worldMapOperations: categorizedOperations.exports }
      "
    >
    </ng-container>

    <h2>Import</h2>
    <ng-container
      *ngTemplateOutlet="
        countryTemplate;
        context: { worldMapOperations: categorizedOperations.imports }
      "
    >
    </ng-container>

    <h2>Note Only</h2>
    <ng-container
      *ngTemplateOutlet="
        countryTemplate;
        context: { worldMapOperations: categorizedOperations.noteOnly }
      "
    >
    </ng-container>

    <h2>Others</h2>
    <ng-container
      *ngTemplateOutlet="
        countryTemplate;
        context: { worldMapOperations: categorizedOperations.others }
      "
    >
    </ng-container>
  </div>
</div>

<ng-template #countryTemplate let-worldMapOperations="worldMapOperations">
  <p
    *ngIf="worldMapOperations && worldMapOperations.length === 0"
    class="warning-text"
  >
    No information available
  </p>
  <div
    *ngIf="worldMapOperations && worldMapOperations.length > 0"
    class="continent__countries"
  >
    <p-card
      *ngFor="let item of worldMapOperations"
      [header]="item.country.name"
      [subheader]="item?.operationType"
      styleClass="p-card-shadow"
      class="country-card"
      [style]="{ height: '100%' }"
    >
      <!-- <p-header>
    <img alt="World Image" src="assets/images/world.png" />
  </p-header> -->
      <p>{{ item.note || "No notes available." }}</p>
    </p-card>
  </div>
</ng-template>
